= form_for user, :url => {action: 'unsubscribe', controller: 'users'} do |f|
    = hidden_field_tag :unsubscribe_to_user, user.id
    = f.submit "Unsubscribe", class: "btn btn-large btn-danger subscribe-btn"
