@import "bootstrap";

.btn {
    border-radius: 0px;
}

.pocket-header {
    text-align: center;
}

.pocket_row {
    padding: 10px;
}

.form-wrapper{
    text-align: center;
}

.pocket-social-form {
}

.profileBox {
    padding-top: 20px;
}

.articles {
    h2 {
        text-align: center
    }
}

.subscribe-btn {
    display: block;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
}

.pocketReminder {
    margin-top: -10px;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: lightgrey;
}

.article-details{
    text-align: center;
    padding-top: 5px
}

.pocket-button{
    width: 50px;
}

.user-footer {
  position: fixed !important;
  left: 0;
  bottom: 0;
  width: 100%;
}

.user-details {
    text-align: center;
}
