@import "bootstrap";

body {
    padding-top: 60px;
}

.pocket_row {
    padding: 10px;
}

.form-wrapper{
    text-align: center;
}

.pocket-social-form {
}

.profileBox {
    padding-top: 20px;
}

.articles {
    h2 {
        text-align: center
    }
}

.subscribe-btn {
    display: block;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
}

.pocketReminder {
    margin-top: -10px;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: lightgrey;
}
